/*.cardlink
{ val
	color: inherit; 
} */
a:link,
a:visited{
	 text-decoration: none;
    color:#000;
    /*padding-bottom: 10px;*/
    border-bottom: 2px solid transparent;
    transition: border-bottom 0.2s;
}

a:hover,
a:active{
    border-bottom: 2px solid #52d7e5;
    
}

.synopsis{
	line-height: 180%;
}

img{
	object-fit: cover;
	 width: 225px;
  	height: 325px;
}

p{
	font-size: 120%;
}


h2{
	font-weight: lighter;
}

input{
	height: 37px;
	width: 180px;
	border-radius: 13px;
}
#butn1{
	border-radius: 13px;
}

.jumbotron{
	color: #ffffff;
	background-color: #52d7e5;
}